{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="hospital-section">
    <div class="container">
        <!-- Заголовок главный -->
        <h1 class="hospital-section__title">ГОДОВЫЕ ДАННЫЕ</h1>
        <!-- Заголовок проекта -->
        <h2 class="hospital-section__title-project">Цены и тарифы</h2>
        <!-- Тексты -->
        <p class="hospital-section__text1">
            В данном разделе представлены аналитические отчеты, охватывающие широкий спектр данных о ценах и тарифах. Эти отчеты представлены в форме графиков, диаграмм и дашбордов, обеспечивая наглядное и информативное представление информации.
        </p>
        <p class="hospital-section__text2">
            Графики, представленные здесь, позволяют визуализировать различные аспекты ценовой политики и тарифного регулирования, такие как динамика изменения цен, распределение тарифов по категориям услуг, эффективность ценовых стратегий и многое другое. Они помогают анализировать и понимать текущее состояние рынка и изменения в ценах в различных регионах или секторах, а также выявлять тенденции и прогнозировать возможные колебания.
        </p>
        <p class="hospital-section__text3">
            Диаграммы в отчетах предоставляют дополнительные инсайты, позволяя сравнивать различные ценовые и тарифные показатели, выявлять зависимости между ценами и факторами, влияющими на них, и идентифицировать ключевые тренды.
        </p>
        <p class="hospital-section__text4">
            Дашборды, в свою очередь, представляют собой комплексные инструменты аналитики, собирающие в себе различные графики, диаграммы и ключевые показатели цен и тарифов на одной панели управления. Они облегчают мониторинг текущей ситуации на рынке и помогают принимать обоснованные решения на основе актуальных данных.
        </p>
        <!-- Обертка проектов -->
        <div class="hospital-section__wrapper">
            <!-- Первый проект -->

            {% for price in prices %}
            <div class="hospital-section__card">
                <a href="{% url 'yeardata:price_detail' slug=price.slug %}" class="hospital-section__link">{{ price.title }}</a>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock content %}