{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="strategy-section">
    <div class="container">
        <!-- Ссылка-возварт на главную страницу -->
        <a href="{% url "main:index" %}" class="strategy-section__link-main">
            Вернуться к странице “Главная”
        </a>
        <!-- Заголовок -->
        <h1 class="strategy-section__title">ЗАДАЧА 4</h1>
        <p class="strategy-section__text">
            Опережающее развитие инфраструктуры
        </p>
        <!-- Обертка -->
        <div class="strategy-section__wrapper">
            <!-- Левая часть -->
            <div class="strategy-section__wrapper-left">
                <img src="{% static "./assets/images/str-image4.png" %}" alt="изображение задачи" class="strategy-section__img">
            </div>
            <!-- Правая часть -->
            <div class="strategy-section__wrapper-right">
                <h2 class="strategy-section__title-mini">ПОКАЗАТЕЛИ ПО РФ:<br class="brstr">
                    ДИНАМИКА, ПРОГНОЗ
                </h2>
                <div class="strategy-section__block-links">
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        1. Доля дорожной сети городских агломераций, находящаяся в нормативном состоянии, %
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        2. Удельный вес автомобильных дорог с твердым покрытием в общей протяженности автомобильных дорог общего пользования, %
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        3. Удельный вес автомобильных дорог с усовершенствованным покрытием в протяженности автомобильных дорог с твердым покрытием общего пользования, %
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        4. Количество автозаправочных станций (АЗС), ед.
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        5. Количество электрозаправочных станций (ЭЗС), ед.
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        6. Доля электрозаправочных станций (ЭЗС) в общем количестве АЗС, %
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        7. Индекс предпринимательской уверенности предприятий обрабатывающей промышленности, %
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        8. Индикатор делового климата предприятий обрабатывающей промышленности, %
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        9. Индекс деловых барьеров предприятий обрабатывающей промышленности, %
                    </a>
                    <a href="{% url "errors:development" %}" class="strategy-section__link-str">
                        10. Индекс предпринимательской уверенности в строительстве, %
                    </a>
                </div>
            </div>
        </div>


    </div>
</section>

{% endblock content %}