{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="detailn-section">
    <div class="container">
        <!-- Заголовок -->
        <h1 class="detailn-section__title">{{ news_item.title }}</h1>
        <!-- Обертка общая -->
        <div class="detailn-section__wrapper">
            <!-- Левая часть -->
            <div class="detailn-section__wrapper-left">
                <p class="detailn-section__description">
                    {{ news_item.text }}
                </p>
            </div>
            <!-- Правая часть -->
            <div class="detailn-section__wrapper-right">
                <img src="{{ news_item.thumbnail.url }}" alt="{{ news_item.title }}" class="detailn-section__img" style="border-radius: 30px;">
                <p class="detailn-section__data">Дата публикации: <span id="detailn-section__data-span">{{ formatted_date }}</span></p>
            </div>
        </div>

        <!-- Ссылка возврата на общую страницу новостей -->
        <a href="{% url 'news:news' %}" class="detailn-section__link">Вернуться к странице “Новости”</a>


    </div>
</section>

{% endblock content %}