{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="news-section">
    <div class="container">
        <!-- Блок заголовок и поле поиска -->
        <div class="news-section__title-block">
            <!-- Заголовок -->
            <h1 class="news-section__title">НОВОСТИ</h1>
            <!-- Поле поиска -->
            <div class="news-section__search-block">
                <form class="news-section__form" role="search" method="GET">  {% comment %} <!-- action="{% url 'catalog:search' %}" --> {% endcomment %}
                    <input class="news-section__input" type="search" name="q" placeholder="Поиск" aria-label="Search">
                    <button class="news-section__input-btn" type="submit">
                        <img class="news-section__img-search" src="{% static "./assets/icons/search-icon.svg" %}" alt="иконка лупы">
                    </button>
                </form>
            </div>
        </div>
        <!-- Обертка новостей -->
        <div class="news-section__wrapper">
            
            {% for new in news_all %}
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{{ new.thumbnail.url }}" alt="{{ new.title }}" class="news-section__img">
                    <div class="news-section__tags">
                        {% for tag in new.tags.all %}
                            <a href="#" class="news-section__p-tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="{% url 'news:news_detail' news_slug=new.slug %}" class="news-section__title-mini">{{ new.title }}</a>
                    <p class="news-section__description">
                        {{ new.description|truncatewords:20 }}
                    </p>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <!-- Пагинация -->
        {% comment %} <nav aria-label="news-section__nav">
            <ul class="news-section__ul">
                <div class="news-section__block-btns">
                    <li class="news-section__li disabled">
                      <a class="news-section__link-pgg">Назад</a>
                    </li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">1</a></li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">2</a></li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">3</a></li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">4</a></li>
                    <li class="news-section__li">
                      <a class="news-section__link-pgg" href="#">Далее</a>
                    </li>
                </div>
            </ul>
        </nav> {% endcomment %}




    </div>
</section>

{% endblock content %}