{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="news-section">
    <div class="container">
        <!-- Блок заголовок и поле поиска -->
        <div class="news-section__title-block">
            <!-- Заголовок -->
            <h1 class="news-section__title">НОВОСТИ</h1>
            <!-- Поле поиска -->
            <div class="news-section__search-block">
                <form class="news-section__form" role="search" method="GET">  {% comment %} <!-- action="{% url 'catalog:search' %}" --> {% endcomment %}
                    <input class="news-section__input" type="search" name="q" placeholder="Поиск" aria-label="Search">
                    <button class="news-section__input-btn" type="submit">
                        <img class="news-section__img-search" src="{% static "./assets/icons/search-icon.svg" %}" alt="иконка лупы">
                    </button>
                </form>
            </div>
        </div>
        <!-- Обертка новостей -->
        <div class="news-section__wrapper">
            <!-- Первая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news1.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Конференция</a>
                        <a href="#" class="news-section__p-tag">Сертификат</a>
                        <a href="#" class="news-section__p-tag">Сертификат</a>
                        <a href="#" class="news-section__p-tag">Сертификат</a>
                        <a href="#" class="news-section__p-tag">Сертификат</a>
                        <a href="#" class="news-section__p-tag">Сертификат</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Конференция</a>
                    <p class="news-section__description">
                        Сотрудники СЦ приняли участие во всероссийской научно-практической
                        конференции «Измерение и анализ благосостояния», 25-27.01.2024 г. в г.
                        Санкт-Петербурге...
                    </p>
                </div>
            </div>
            <!-- Вторая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news2.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Конференция</a>
                        <a href="#" class="news-section__p-tag">Сертификат</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Конференция</a>
                    <p class="news-section__description">
                        В работе Всероссийской научно-практической конференции
                        «измерение и анализ благосостояния», 25-27.01.2024 г.
                        в г. Санкт-Петербурге...
                    </p>
                </div>
            </div>
            <!-- Третья новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news3.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Четвертая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news3.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Пятая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news3.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Шестая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news1.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Седьмая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news2.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Восьмая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news2.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Девятая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news1.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Десятая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news3.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Одиннадцатая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news3.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
            <!-- Двенадцатая новость -->
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{% static "./assets/images/news2.png" %}" alt="фото новости" class="news-section__img">
                    <div class="news-section__tags">
                        <a href="#" class="news-section__p-tag">Мастер-класс</a>
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="#" class="news-section__title-mini">Мастер-класс</a>
                    <p class="news-section__description">
                        Проведен мастер-класс (практическое занятие) с
                        использованием ресурсов Ситуационного центра...
                    </p>
                </div>
            </div>
        </div>
        <!-- Пагинация -->
        <nav aria-label="news-section__nav">
            <ul class="news-section__ul">
                <div class="news-section__block-btns">
                    <li class="news-section__li disabled">
                      <a class="news-section__link-pgg">Назад</a>
                    </li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">1</a></li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">2</a></li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">3</a></li>
                    <li class="news-section__li"><a class="news-section__link-pg" href="#">4</a></li>
                    <li class="news-section__li">
                      <a class="news-section__link-pgg" href="#">Далее</a>
                    </li>
                </div>
            </ul>
        </nav>




    </div>
</section>

{% endblock content %}