{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="news-section">
    <div class="container">
        <!-- Блок заголовок и поле поиска -->
        <div class="news-section__title-block">
            <!-- Заголовок -->
            <h1 class="news-section__title">НОВОСТИ</h1>
            <!-- Поле поиска -->
            <div class="news-section__search-block">
                <form class="news-section__form" role="search" action="{% if request.GET.q %}{% url 'news:search' %}{% else %}{% url "news:news" %}{% endif %}" method="GET"> 
                    <input class="news-section__input" type="search" name="q" placeholder="Поиск" aria-label="Search" value="{{ request.GET.q|default:'' }}">
                    <button class="news-section__input-btn" type="submit">
                        <img class="news-section__img-search" src="{% static "./assets/icons/search-icon.svg" %}" alt="иконка лупы">
                    </button>
                </form>
            </div>
        </div>
        <!-- Обертка новостей -->
        <div class="news-section__wrapper">
            
            {% for new in news_all %}
            <div class="news-section__news1">
                <div class="news-section__block-img-tags">
                    <img src="{{ new.thumbnail.url }}" alt="{{ new.title }}" class="news-section__img">
                    <div class="news-section__tags">
                        {% for tag in new.tags.all %}
                            <a href="{% url 'news:news' %}?tag={{ tag.name }}" class="news-section__p-tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="news-section__block-texts">
                    <a href="{% url 'news:news_detail' news_slug=new.slug %}" class="news-section__title-mini">{{ new.title }}</a>
                    <p class="news-section__description">
                        {{ new.description|truncatewords:20 }}
                    </p>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <!-- Пагинация -->
        <nav aria-label="news-section__nav">
            <ul class="news-section__ul">
                <div class="news-section__block-btns">
                    {% if news_all.has_previous %}
                        <li class="news-section__li">
                            <a class="news-section__link-pgg" href="{% url 'news:news_paginated' news_all.previous_page_number %}">Назад</a>
                        </li>
                    {% else %}
                        <li class="news-section__li disabled">
                            <a class="news-section__link-pgg">Назад</a>
                        </li>
                    {% endif %}

                    {% for page_num in news_all.paginator.page_range %}
                        <li class="news-section__li{% if news_all.number == page_num %} active{% endif %}">
                            <a class="news-section__link-pg" href="{% url 'news:news_paginated' page_num %}">{{ page_num }}</a>
                        </li>
                    {% endfor %}

                    {% if news_all.has_next %}
                        <li class="news-section__li">
                            <a class="news-section__link-pgg" href="{% url 'news:news_paginated' news_all.next_page_number %}">Далее</a>
                        </li>
                    {% else %}
                        <li class="news-section__li disabled">
                            <a class="news-section__link-pgg">Далее</a>
                        </li>
                    {% endif %}

                </div>
            </ul>
        </nav>




    </div>
</section>

{% endblock content %}