{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="hospital-section">
    <div class="container">
        <!-- Заголовок главный -->
        <h1 class="hospital-section__title">НЕЙРОННЫЕ СЕТИ</h1>
        <!-- Заголовок проекта -->
        <h2 class="hospital-section__title-project">Труд</h2>
        
        <!-- Обертка проектов -->
        <div class="hospital-section__wrapper">
            <!-- Первый проект -->
            <ol>
                {% for hospital in hospitals %}
                <li style="list-style: auto; font-size: 30px; font-weight: 500;">
                    <div class="hospital-section__card">
                        <a href="{% url 'ai:labour_view' labour.slug %}" class="hospital-section__link">{{ labour.title }}</a>
                    </div>
                </li>
            {% endfor %}
            </ol>

        </div>

    </div>
</section>

{% endblock content %}