{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="hospital-section">
    <div class="container">
        <!-- Заголовок главный -->
        <h1 class="hospital-section__title">НАЦИОНАЛЬНЫЙ ПРОЕКТ</h1>
        <!-- Заголовок проекта -->
        <h2 class="hospital-section__title-project">Экология</h2>
        <!-- Тексты -->
        <p class="hospital-section__text1">
            В данном разделе представлены аналитические отчеты, охватывающие широкий
            спектр данных в сфере экологии. Эти отчеты представлены в форме
            графиков, диаграмм и дашбордов, обеспечивая наглядное и информативное представление
            информации.
        </p>
        <p class="hospital-section__text2">    
            Графики, представленные здесь, позволяют визуализировать различные аспекты экологии,
            такие как динамика загрязнения окружающей среды, распределение видов исследуемых
            животных и растений, эффективность экологических мероприятий и многое другое.
            Они помогают анализировать и понимать текущее экологическое состояние в различных
            регионах или странах, а также выявлять тенденции и прогнозировать возможные изменения.
        </p>
        <p class="hospital-section__text3">
            Диаграммы в отчетах предоставляют дополнительные инсайты, позволяя сравнивать
            различные показатели экологии, выявлять зависимости между различными переменными
            и идентифицировать ключевые факторы.
        </p>
        <p class="hospital-section__text4">
            Дашборды, в свою очередь, представляют собой комплексные инструменты аналитики,
            собирающие в себе различные графики, диаграммы и ключевые показатели экологии
            на одной панели управления. Они облегчают мониторинг текущей ситуации в экологии,
            а также помогают принимать информированные решения на основе актуальных данных.
        </p>
        <!-- Обертка проектов -->
        <div class="hospital-section__wrapper">
            <!-- Первый проект -->

            {% for ecology in ecologys %}
            <div class="hospital-section__card">
                <a href="{% url 'nathprojects:ecology_detail' slug=ecology.slug %}" class="hospital-section__link">{{ ecology.title }}</a>
            </div>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock content %}