{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <h2>{{ hospital.title }}</h2>
    <p>{{ hospital.description }}</p>

    <label for="target_column">Выберите целевую переменную:</label>
    <select name="target_column">
        {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>

    <label for="feature_columns">Выберите факторные переменные:</label>
    <select name="feature_columns" multiple>
        {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>

    <button type="submit">Рассчитать</button>
</form>

{% endblock content %}